<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.111.105.2,1433\SQLEXPRESS;initial catalog=PR(315)-18-56;persist security info=True;user id=15-18;password=Passw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Томск.Properties.Settings.PR_315__18_56ConnectionString"
      connectionString="Data Source=10.111.105.2,1433\SQLEXPRESS;Initial Catalog=PR(315)-18-56;Persist Security Info=True;User ID=15-18;Password=Passw0rd"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>